/dataset/*

/output/*
/custom/*

/.ipynb_checkpoints/*
/generated_images/*

/model/.ipynb_checkpoints/*
/utils/.ipynb_checkpoints/*
/data/.ipynb_checkpoints/*
/weights/weights.149.pth

/__pycache__/*
/model/__pycache__/*
/utils/__pycache__/*
/data/__pycache__/*

Untitled.ipynb
notebook.ipynb
/weights/weights.149.pth


